@import '../waybar/colors.css';

window {
    border-radius: 14px;
    padding: 12px 16px;
    background: @bg1;
}

box {
    spacing: 10px;
}

image {
    margin-right: 8px;
}

label {
    font-weight: 500;
    color: @fg;
}

progressbar trough {
    min-height: 6px;
    border-radius: 6px;
    background: @bg0;
}

progressbar progress {
    border-radius: 6px;
    background: @green;
}
